.container{
   margin: 0 auto;
   margin-top: 1px;
   border-radius: 5px;
   width:800px;
   box-shadow: 1px 1px 1px 1px black;
}
.header{
   text-align: center;
   font-family: 'Autour One';
   background-color: #D3D3D3;
}
.header #heading{
   padding:10px 0px 0px 0px;
   font-size:60px;
   margin-bottom: 0;
}
.header #tagline{
   font-size: 28px;
   margin-top:0;
}
.search-movies input{
   border:none;
   font-size: 25px;
   padding: 6px;
   margin-bottom: 20px;
   border-radius: 4px;
}
.search-movies input:focus{
   border: 2px solid green;
   background-color:#ECEAE7;
}
.search-movies button{
   border:none;
   display:inline-block;
   font-size:25px;
   padding:5px;
   margin-left:5px;
   text-align: center;
   cursor: pointer;
   background-color:#4CAF50;
   color:white;
}
.search-movies button:hover{
   background-color: #58C95C;
}
.body{
   background-color: #F9F9F9;
}
.movie-list h1{
   margin: 0;
   text-align: center;
   font-family: 'Cagliostro';
   font-size:40px;
}
li{
   list-style-type: none;
   padding: 10px 20px;
}
ul{
   padding-left: 0;
}
.movie-list-style{
   padding: 15px 10px;
   font-family: 'Autour One';
   font-size: 22px;
   margin-bottom:10px;
   border-left:4px solid #979795;
}
.movie-list-style:hover{
   border-left: 4px solid #9361bf;
}
.movie-list-style button, .add-movies button{
   background-color: #9361BF;
   border: none;
   color: white;
   float: right;
   font-size: 20px;
   border-radius: 4px;
   text-align: center;
   display: inline-block;
   cursor: pointer;
   padding: 8px 10px;
}
.movie-list-style button:hover{
   background-color: #A870DA;
}
.add-movies{
   padding-top:30px;
   padding-bottom:15px;
   text-align: center;
}
.add-movies input{
   padding:10px 20px;
   font-size:15px;
}
.add-movies input:focus{
   border: 2px solid #9361BF;
}
.add-movies button{
   float:none;
   padding:12px 20px;
   margin-left:15px;
}
